@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Firefox */
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Webkit */
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* IE */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn-play.btn-none {
  display: none;
}
.btn-play.btn-show + .btn-play.btn-loading-bot {
  display: none;
}
.login-modal > .modal-wrapper .btn-play.btn-loading-bot {
  touch-action: none;
  user-select: none;
  cursor: default;
  background: repeating-linear-gradient(45deg, #FF004B, #FF004B 10px, #cc003c 10px, #cc003c 20px);
}
#keyboardBtn {
  display: none;
}
.nsi {
  position: fixed;
  color: #C0C0C0;
  font-size: 14px;
  z-index: 999;
  border-radius: 5px;
  padding: 5px;
}
.nsi.pref {
  left: 10px;
  top: 130px;
  width: 260px;
  height: 210px;
}
.nsi.bot {
  left: 10px;
  top: 230px;
  width: 150px;
  height: 85px;
}
.nsi.stats {
  left: 10px;
  top: 280px;
  width: 450px;
  height: 210px;
  z-index: 998;
}
.nsi.server {
  right: 5px;
  bottom: 5px;
  width: 160px;
  height: 14px;
}
.nsi.rage {
  visibility: hidden;
  width: 100%;
  text-align: center;
  top: 75px;
  /* Opera and prob css3 final iteration */
}
.nsi.rage img {
  height: 100px;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* order: name, direction, duration, iteration-count, timing-function */
  -moz-animation: blink normal 1.25s infinite ease-in-out;
  /* Firefox */
  -webkit-animation: blink normal 1.25s infinite ease-in-out;
  /* Webkit */
  -ms-animation: blink normal 1.25s infinite ease-in-out;
  /* IE */
  animation: blink normal 1.25s infinite ease-in-out;
  /* Opera and prob css3 final iteration */
}
.nsi.fizzy {
  left: -185px;
  /*top: 450px;*/
  width: 600px;
}
.dg .c .slider {
  box-shadow: initial;
  padding: initial;
  overflow: initial;
  border-radius: 0;
}
.dg .c .slider .slider-fg {
  padding: initial;
  margin-left: initial;
  padding-right: initial;
  border-radius: 0;
}
.dg .c .slider .slider-fg:after {
  all: initial;
}
.dg .c input[type=text] {
  font-size: calc(13.33333333px);
  line-height: 0;
}
.dg .c select {
  color: black;
  font-size: calc(13.33333333px);
}
.dg .c select option {
  background: white;
  color: black;
}
.dg.ac.light-theme .dg {
  color: #555;
  text-shadow: none !important;
}
.dg.ac.light-theme .dg.main.taller-than-window .close-button {
  border-top: 1px solid #ddd;
}
.dg.ac.light-theme .dg.main .close-button {
  background-color: #ccc;
}
.dg.ac.light-theme .dg.main .close-button:hover {
  background-color: #ddd;
}
.dg.ac.light-theme .dg.main::-webkit-scrollbar {
  background: #fafafa;
}
.dg.ac.light-theme .dg.main::-webkit-scrollbar-thumb {
  background: #bbb;
}
.dg.ac.light-theme .dg li:not(.folder) {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}
.dg.ac.light-theme .dg li.save-row .button {
  text-shadow: none !important;
}
.dg.ac.light-theme .dg li.title {
  background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}
.dg.ac.light-theme .dg .cr.function:hover {
  background: #fff;
}
.dg.ac.light-theme .dg .cr.boolean:hover {
  background: #fff;
}
.dg.ac.light-theme .dg .c input[type=text] {
  background: #e9e9e9;
}
.dg.ac.light-theme .dg .c input[type=text]:hover {
  background: #eee;
}
.dg.ac.light-theme .dg .c input[type=text]:focus {
  background: #eee;
  color: #555;
}
.dg.ac.light-theme .dg .c .slider {
  background: #e9e9e9;
}
.dg.ac.light-theme .dg .c .slider:hover {
  background: #eee;
}